.banner {
	/* background-color: rgb(156 0 0); */
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 3px;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.logo {
    width: 5%;
}
.azerty {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none !important;
    margin: 0 20px 0 20px;
}
.azerty:hover {
    color: #bcbcbc;
}
h1 {
    margin-right: 50px;
}