.banner {
	background-color: rgb(223 34 34);
	padding: 3px;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
    box-shadow: 1px 11px 30px -10px rgba(0,0,0,0.59);
    -webkit-box-shadow: 1px 11px 30px -10px rgba(0,0,0,0.59);
    -moz-box-shadow: 1px 11px 30px -10px rgba(0,0,0,0.59);
}
.logo {
    width: 5%;
}
/* .azerty {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
} */
.azerty {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin: 0 20px 0 20px;
}
a:hover {
    color: #bcbcbc;
}
h1 {
    margin-right: 50px;
}