.footer {
    padding: 10px;
    background-color: rgb(208, 83, 83);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: -1px -13px 39px -16px rgba(0,0,0,0.6);
    -webkit-box-shadow: -1px -13px 39px -16px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px -13px 39px -16px rgba(0,0,0,0.6);
}
.liste{
    list-style: none;
}
