.footer {
    padding: 10px;
    background-color: rgb(208, 83, 83);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: -1px -13px 39px -16px rgba(0,0,0,0.6);
    -webkit-box-shadow: -1px -13px 39px -16px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px -13px 39px -16px rgba(0,0,0,0.6);
}
.logoFooter{
    width: 10%;
    position: absolute;
    bottom: 18%;
    left: 8%;
}
.containerCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardFooter {
    padding: auto;
    margin: 0 50px;
}
.liste{
    list-style: none;
}

span {
    display: flex;
    justify-content: center;
    font-size: 12px;
}